#모델 이름: QuantTrio/Qwen3.5-9B-AWQ

#가상환경 설정
#python3 -m venv llm_env
#source llm_env/bin/activate

#필요한 패키지 설치
pip install uv #다운로드 가속기
uv pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128 #CUDA버전에 맞는 PyTorch 설치
uv pip install "vllm==0.19.0" "openai>=1.0.0" "accelerate>=1.0.0" "huggingface_hub>=0.30.0" #vLLM과 관련 라이브러리 설치
uv pip install  triton-kernels
uv pip install chromadb #Rag용 벡터 데이터베이스 설치
uv pip install sentence-transformers #Rag용 임베딩 모델 설치

#모델 arguments 설정
vllm serve QuantTrio/Qwen3.5-4B-AWQ \
  --host 127.0.0.1 \
  --port 8000 \
  --tensor-parallel-size 1 \
  --gpu-memory-utilization 0.85 \
  --cpu-offload-gb 0 \
  --max-model-len 1024 \
  --max-num-seqs 1 \
  --dtype half \
  --language-model-only \
  --enforce-eager

cd llm_workspace/FineTuning_Models
vllm serve QuantTrio/Qwen3.5-4B-AWQ \
  --host 127.0.0.1 \
  --port 8000 \
  --tensor-parallel-size 1 \
  --gpu-memory-utilization 0.85 \
  --cpu-offload-gb 0 \
  --max-model-len 1024 \
  --max-num-seqs 1 \
  --dtype half \
  --language-model-only \
  --enforce-eager \
  --enable-lora \
  --lora-modules my_npc=./Qwen3.5_4B_AWQ_v2

#제거한거
#pip uninstall -y triton-kernels
#pip uninstall -y flash-attn-4
#ls -la /home/user/llm_env/lib/python3.12/site-packages | grep flash_attn
#위에 실행했더니 경로가 나올시-> #rm -rf /home/user/llm_env/lib/python3.12/site-packages/flash_attn